<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.bniapp"
        versionCode="10" 
        version   = "1.2.0">
    <!-- versionCode is optional and Android only -->
    <name>BNI Super Acheivers</name>
    <description>
        BNI Super Acheivers
    </description>
    <author href="https://www.hetuinfotech.com" email="we@hetu.me">
        Hetu Infotech
    </author>
	
	<icon src="images/icon.jpg" gap:role="default" />	
	<preference name="orientation" value="portrait" />
</widget>